<!doctype html>
<html>
<head>
<include file="Public:head" />
</head>
<body>
	<div class="wrap">
		<include file="Public:header" />
		<div class="section">
			<div class="main">
				<pre class="agreement">BainiuCMS软件使用协议

版权所有 ©2013-{:date("Y")},南阳百牛网络技术服务有限公司

感谢您选择BainiuCMS内容管理框架, 希望我们的产品能够帮您把网站发展的更快、更好、更强！

BainiuCMS免责声明
  1、使用BainiuCMS构建的网站的任何信息内容以及导致的任何版权纠纷和法律争议及后果，BainiuCMS官方不承担任何责任。
  2、您一旦安装使用BainiuCMS，即被视为完全理解并接受本协议的各项条款，在享有上述条款授予的权力的同时，受到相关的约束和限制。</pre>
			</div>
			<div class="bottom text-center">
				<a href="__ROOT__/index.php?g=install&a=step2" class="btn btn-primary">{:L('ACCEPT')}</a>
			</div>
		</div>
	</div>
	<include file="Public:footer" />
</body>
</html>